/* Bem methodology CSS */
/* Begin  Shared CSS */
body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#wrapper {
	width: 500px;
	border: 1px solid #0033ff;
	margin: 0 auto;
	box-sizing: border-box;
}
.title {
	background: url(../img/title_bg.gif) repeat-x;
	font-weight: bold;
	padding-top: 5px;
	height: 30px;
}
.clear {clear: both;}
p {	margin: 0;}
/* End  Shared CSS */

/*Begin  Player Profile */
.profile_info {
	background-color: #fff;
	max-width: 100%;
	height: 100px;
	overflow: scroll;
	margin-top: -5px;
}
.facts_title {
	background: none;
	margin-top: 10px;
}
.facts_list {
	margin-top: 0;
	margin-bottom: 50px;
	list-style: none;
}
.facts_list li::before {
  content:url('../img/star.gif'); 
}
.profile_img {
	float: left;
	margin-top: -5px;
}
/*End  Player Profile */

/*  Begin Comment Content  */
.comment_content--text {
	background-color: #ececec;
	padding: 5px;
	margin-left: 3px;
}
.comment-title {
	font-size: 20px;
	text-align: center;
}
.comment_content--img {
	position: absolute;
	margin-left: 15px;
	width: 30px;
}
.comment_content--author {
	font-size: 14px;
	margin-left: 55px;
}
.comment_content--author a{text-decoration: none;}
/*  End  Comment Content  */

/*  Begin Reply  */
.reply {
	margin-top: 20px;
	padding: 0 3px 0 3px;
}
.reply_title {
	background: none;
	text-align: center;	
	margin-bottom: -5px;
	padding-left: 35px;
}
.reply_row {
	display: table;
	margin: 1px;
	padding: 1px;
}
.reply_row--left {
	display: table-cell;
	padding-left: 3px;
	margin-top: 2px;
	vertical-align: middle;
	width: 120px;
}
.reply_row--right {
	display: table-cell;
	vertical-align: middle;
}
.reply_row--right textarea {
	margin-top: 2px;
	height: 100px;
	width: 360px;
	resize: none;
}
/*  End Reply  */